.u-section-1 .u-sheet-1 {
  min-height: 2306px;
}

.u-section-1 .u-group-1 {
  width: 68px;
  min-height: 68px;
  height: auto;
  margin: 33px auto 0 22px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 0 auto 0 -2px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -68px auto 0 123px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 22px auto 0 123px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: 55px auto 0 220px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 45px 1px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 33px 1px 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 356px;
  margin: 33px auto 0 220px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 33px 1px 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 33px 1px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 33px 1px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 33px 1px 0;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: 33px 1px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2501px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2463px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 338px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4439px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -77px;
    margin-right: 0;
    margin-left: 99px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: -10px;
    margin-left: 99px;
  }

  .u-section-1 .u-image-1 {
    height: 227px;
    margin-top: 61px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 213px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }
}